*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background: #EFF1FF;
}

header {
    height: 27.9rem;
    background: #8E9AAF;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

header img{
    margin: 3.2rem 0;
    height: 13.7rem;
    max-width: 32.0rem;
}

header h1{
    font-family: 'Staatliches';
    font-size: 4.0rem;
    line-height: 3.4rem;
    color: #FFFFFF;
    width: 100%;
    padding: 0.8rem 8.7rem;
    background-color: hsla(275, 18%, 79%, 1);
    margin-bottom: 2.9rem;
    justify-content: center;
    display: flex;
}

main {
    margin: 0 auto;
    align-items: center;
    max-width: 32.0rem;
    display: flex;
    flex-direction: column;
}

main p {
    padding-top: 1.4rem;
    font-family: 'Palanquin';
    font-size: 2rem;
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 6.3rem;
    color: #23053A;
}

main .card{
    position: relative;
    margin-bottom: 3.2rem;
}

main h2{
    font-size:2rem ;
    font-family:'Staatliches' ;

    line-height:3.4rem ;
    letter-spacing: 1px;

    text-transform: uppercase;
    font-weight: 400;

    padding: 0.1rem 2.4rem 0.1rem 2.4rem;

    background: #FEEAFA;
    border-radius: 16px;

    max-width: 11.2rem;
    position: absolute;

    top: 0;
    right: 0;
    
    margin: 1.6rem 1.6rem 0 0;

    
}

main h2:hover{
    animation: topdown2 700ms;
    cursor: pointer;
}

.card img:hover{
    transform: scale(1.1);
    filter: brightness(0.7);
    transition: all 700ms;
    animation: topdown 1s;
}

@keyframes topdown {
    0%  {
        opacity: 0;
        transform: rotateX(180deg);
    }

    100%{
        opacity: 1;
        transform: rotate(0);
    }
}

@keyframes topdown2 {
    0%  {
        opacity: 0;
        transform: rotateY(-180deg);
    }

    100%{
        opacity: 1;
        transform: rotate(0);
    }
}